@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cm6c2j');
  src:  url('fonts/icomoon.eot?cm6c2j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cm6c2j') format('truetype'),
    url('fonts/icomoon.woff?cm6c2j') format('woff'),
    url('fonts/icomoon.svg?cm6c2j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-codepen:before {
  content: "\eae8";
}
