@import 'reset.css';
*::before::after{
    box-sizing: border-box;
    
    
}
body{
    color: goldenrod;
    background-color:rgb(73, 72, 72);
    margin: 25px;
    text-align: center;
    font-size: larger;
    font-weight:600;
}

article{
    max-height:200vh;
    text-align:center;
   
    
}
.textos{
    text-align: center;
    display: flex;
    justify-content: center;
    
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
}
.menu_nav ul  {
    display: flex;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
}

.nombre{
    display:flex;
    flex-direction: column;
    height: 52px;
    overflow: hidden;
    transition: height 1s;
    color:rgb(248,224, 3);
    border: 2px black;
  
    
}
#menu {
    display:none;
}
#menu:checked+.nombre{
    height: 80px;
    
}
.nombre h1{
    margin: .5rem;
    
}
.posicionamiento {
    cursor: pointer;
    right: .5rem;
    top: .5rem;
    position: absolute;
    font-size: 2rem;


    
}

.foto-perfil img {
    width: 500px;
    border-radius: 50%;
    
} 
p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}
#cv, #logos{
    justify-content:space-between;
    
}




@media (min-width: 480px) {
    .personal{
        display: flex;
    }
    .personal p {
        width: 50%;
    }
}

.animacion{
    
    display:flex;
    flex-direction: column;
    padding: 0 0.5rem .5rem;
    height: 52px;
    overflow: hidden;
    transition: height 2s;
    color: rgb(248,224, 3) ;

}
.subtitulo{
    color: rgb(248,224, 3) ;
}
.personal{
    margin: 0;
    padding: 0;
}
.contacto{
    text-align: center;
    justify-content: space-between;

}
.contenido{
    display: flex;
    justify-content: space-between;
}  
